<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<style> 
    input {
      margin-top: 10px;
    
    }
    
</style>
<body>

    <h1>Crear Registro</h1>

    <form th:action="@{/productos/newProducto}" method="post">
        <label for="id">Id : </label>
        <input type="number" id="id" th:name="id" > 
        <br>
        <label for="nombre">Nombre : </label>
        <input type="text" id="nombre"  th:name="nombre">
        <br>
        <label for="precio">Precio : </label>
        <input type="number" id="precio" th:name="precio">
        <br>
        <br>
        <label for="categoria">Tipo Producto : </label>
        <Select id="categoria" th:name="tipo">
            <option th:each="tipo : ${tipos}" th:value="${tipo.id}"  th:text="${tipo.nombre}"></option>
        </Select>
        <br>
        <br>

        <button type="submit">Crear</button>

    </form>
    
</body>
</html>