<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 75%;
            margin: auto;
        }

        td,th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        div {
            padding: 10px;
        }
    </style>
</head>
<body>

    <h1 >Productos Tipo</h1>
    <div>
        
        <button onclick="location.href='/productos';">
            Volver
        </button>
    </div>

    <div>
        <table >
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
            
            </tr>
            <tr th:each=" lista : ${tipo} ">
                <th th:text="${lista.id}"></th>
                <th th:text="${lista.nombre}"></th>
                <th th:text="${lista.descripcion}"></th>
                
            </tr>
            
        
        </table>

    </div>
    
</body>
</html>