
#collapsibleNavbar{
    justify-content: left;
    margin-left: 20px;
}
.nav-item{
    margin-inline: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar-brand{
    margin-left: 30px;
}








